@import "../../Styles/common.scss";
.Login {
  background-color: #f6f6f6;
  height: 100vh;
  .loginContainer {
    .loginTitle {
      padding-top: 120px;
      font-size: 34px;
      font-weight: bold;
      text-align: center;
    }
    .loginBox {
      width: 648px;
      padding: 32px;
      margin: 0 auto;
      margin-top: 50px;
      box-sizing: border-box;
      background: #fff;
      .socialLoginBox {
        a {
          display: block;
          height: 56px;
          font-size: 16px;
          line-height: 56px;
          border: 1px solid #ccc;
          text-align: center;
          color: #000;
          &::before {
            position: static;
            margin-right: 16px;
            vertical-align: middle;
            content: "";
            display: inline-block;
            top: 12px;
            left: 20px;
            width: 24px;
            height: 24px;
            background: url("https://www.spacecloud.kr/_nuxt/img/cfb2f7c.png")
              no-repeat 0 0;
            background-size: auto 100%;
          }
        }
        .kakao {
          margin-top: 16px;
          &::before {
            background-position: 100% 0;
          }
        }
      }
      .or {
        display: flex;
        margin-top: 32px;
        text-align: center;
        .orText {
          display: inline-block;
          position: relative;
          padding: 0 15px;
          color: #000;
          font-size: 14px;
          background: #fff;
        }
        .line {
          margin-top: 6px;
          border-top: 1px solid #ccc;
          width: 265px;
        }
      }
      section {
        margin-top: 30px;
        input {
          width: 100%;
          height: 48px;
          padding: 0 16px;
          outline: none;
          border: 1px solid #e0e0e0;
          font-size: 16px;
          &:focus {
            border: 1px solid #ff3a48;
          }
        }
        .alert {
          padding-top: 6px;
          color: #ff3a48;
          font-size: 14px;
        }
        .hiddenAlert {
          display: none;
        }
        .password {
          margin-top: 16px;
        }
        .buttonBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 15px;
          font-size: 14px;
          .memory {
            display: flex;
            align-items: center;
            input {
              display: none;
              + label {
                display: inline-block;
                width: 15px;
                height: 15px;
                background: white;
                border: 1px solid #ccc;
              }
            }
            input:checked {
              + label {
                width: 15px;
                height: 15px;
                border: none;
                background-image: url("/images/yellowCheckbox.png");
                background-size: 18px 18px;
                background-position: -1px -1px;
              }
            }
            span {
              margin-left: 4px;
            }
          }
          a {
            cursor: pointer;
          }
        }
        button {
          width: 100%;
          height: 48px;
          margin-top: 24px;
          background: #ffd014;
          cursor: pointer;
        }
        p {
          margin-top: 15px;
          color: #656565;
          font-size: 14px;
          text-align: center;
          a {
            margin-left: 13px;
            color: #000;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
