@import "../../Styles/common.scss";

.Main {
  font-family: NanumBarunGothic, 나눔바른고딕, NanumGothic, 돋움, Dotum,
    Helvetica, Apple SD Gothic Neo, Sans-serif !important;

  .searchSpace {
    background: #f6f6f6;
    text-align: center;
    margin: auto;
    width: 100%;
    padding-top: 78px;
    padding-bottom: 30px;

    .mainSubTitle {
      font-size: 34px;
      font-weight: bold;
    }
    .spaceListBox {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;

      .spaceList {
        display: flex;
        flex-wrap: wrap;
        width: 1160px;
        border: 1px solid #ebebeb;

        a {
          width: 16.66%;
          height: 48px;
          text-align: center;
          font-size: 16px;
          line-height: 18px;
          color: #656565;
          border: 1px solid #ebebeb;
          background-color: #fff;
          padding: 15px;
        }
      }
    }
  }

  .recommendSpace {
    background: #f6f6f6;
    text-align-last: center;
    padding-top: 62px;
    padding-bottom: 30px;

    .mainSubTitle {
      font-size: 34px;
      font-weight: bold;
    }
    .recommendSlide {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .mainUserReview {
    background: #fff;
    padding-top: 62px;
    padding-bottom: 60px;
    text-align: center;

    .mainSubTitle {
      font-size: 34px;
      font-weight: bold;
    }

    .titleContent {
      margin-top: 10px;
    }
  }
}
