.SearchSpaceList {
  font-family: NanumBarunGothic, 나눔바른고딕, NanumGothic, 돋움, Dotum,
    Helvetica, Apple SD Gothic Neo, Sans-serif !important;
  .listContents {
    border: 1px solid;
    width: 193px;
  }
}
