.UserReview {
  .reviewImg {
    width: 100px;
    height: 100px;
    background-image: url(https://moplqfgeemqv2103108.cdn.ntruss.com/service/159915349_7cb739111e55e664441fcaf67cb9176e.jpeg?type=m&w=900&h=900&autorotate=true&quality=90);
  }
}
