.NormalZone {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;

  .NormalZoneContainer {
    margin: 0 auto;
    width: 1209px;

    .NormalZoneBox {
      display: flex;
      flex-wrap: wrap;
      width: 1250px;
    }
  }
}
