.PlusZone {
  width: 1209px;
  margin: 0 auto 50px auto;

  .plus {
    font-size: 24px;
    font-weight: bold;
    padding: 13px;
  }

  .plusContainer {
    display: flex;
    flex-wrap: wrap;
    width: 1250px;
  }
}
