@import "../../Styles/common.scss";
@import "../../Styles//reset.scss";

.SearchResult {
  margin-top: 78px;

  .noticeContainer {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 40px;

    .noticeBox {
      width: 1250px;
      margin: 0 auto;
    }

    .title {
      color: #6d3afb;
      font-size: 28px;
      border-bottom: 1px solid #6d3afb;
      font-weight: bold;
      line-height: 32px;
      margin-right: 5px;
    }

    .resultText {
      font-size: 28px;
      line-height: 32px;
    }

    .selectBarContainer {
      margin-top: 50px;

      .optionContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .optionBox {
          margin-right: 20px;
          height: 70px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .optionType {
            font-size: 15px;
          }

          .optionWrapper {
            border: 1px solid #ccc;
            width: 297px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .option {
              font-size: 16px;
              margin-left: 13px;
            }

            .downArrow {
              background-size: 684px 663px;
              background-image: url("https://www.spacecloud.kr/_nuxt/img/08341ee.png");
              background-position: -396px -232px;
              width: 15px;
              height: 9px;
              margin-right: 8px;
            }

            .calendarIcon {
              background-size: 684px 663px;
              background-image: url("https://www.spacecloud.kr/_nuxt/img/08341ee.png");
              background-position: -22px -646px;
              width: 17px;
              height: 17px;
              margin-right: 8px;
            }
          }
        }
      }

      .buttonContainer {
        width: 240px;
        height: 50px;
        display: flex;
        justify-content: space-around;

        .buttonBox {
          width: 110px;
          height: 47px;
          display: flex;
          border: 1px solid #6d3afb;
          border-radius: 44px;

          .locationIcon {
            background-image: url("https://www.spacecloud.kr/_nuxt/img/08341ee.png");
            background-size: 684px 663px;
            background-position: -497px -128px;
            width: 17px;
            height: 22px;
            margin: 10px 5px 0 20px;
          }

          .filterIcon {
            background-size: 684px 663px;
            background-image: url("https://www.spacecloud.kr/_nuxt/img/08341ee.png");
            background-position: -452px -419px;
            width: 20px;
            height: 18px;
            margin: 12px 5px 0 20px;
          }

          .button {
            font-size: 18px;
            color: #704de4;
            font-weight: 600;
            background-color: white;
          }
        }
      }
    }
  }

  .categoryBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 58px 0 15px 0;
    border-bottom: 2px solid #b2b2b2;
    width: 1209px;
    margin: 0 auto 50px auto;

    .categoryBox {
      display: flex;
      align-items: center;

      .categoryList {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        width: 300px;

        li {
          font-size: 16px;
          color: #656565;
        }

        .categoryBar {
          border-right: 1px solid #ccc;
          height: 12px;
        }
      }
    }

    .discountSpace {
      font-size: 16px;
      margin-left: 10px;
    }

    .newTag {
      width: 43.73px;
      height: 17.97px;
      color: white;
      margin-left: 5px;
      padding: 1.5px 6px;
      font-size: 14px;
      font-weight: 400;
      background: #ec4d3d;
    }

    select {
      width: 152px;
      height: 40px;
      background-color: #ffffff;
      outline: none;
      border-color: #e0e0e0;
    }
  }
}
