.DetailNav {
  .navWrapper {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #704de4;
    .navButton {
      position: relative;
      font-size: 16px;
      text-align: center;
      padding: 18px 45px;
      a {
        text-align: center;
        color: #656565;
        font-weight: 600;
      }
      a::after {
        content: "";
        position: absolute;
        top: 15px;
        right: 0;
        width: 0.7px;
        height: 20px;
        background-color: #704de4;
      }
      &:last-child a::after {
        display: none;
      }
    }
  }
}
