.Reservation {
  padding-top: 70px;
  .reservationBox {
    border-top: 1px solid #f6f6f6;
    margin-bottom: 50px;
    .reservationHeader {
      position: relative;
      padding-bottom: 16px;
      margin: 70px 0 28px;
      color: #000;
      font-size: 18px;
      line-height: 30px;
      font-weight: 700;
    }
    .reservationHeader::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      height: 4px;
      width: 20px;
      background-color: #ffd014;
    }
    .reservOl {
      .reservationList {
        padding: 8px;
        font-size: 16px;
        border-bottom: 1px solid #ebebeb;
        .num {
          font-weight: 600;
        }
        .desc {
          color: #656565;
          line-height: 28px;
          .numbe {
            color: black;
            font-weight: 600;
            padding-right: 29px;
          }
        }
      }
    }
  }
}
