.ReviewComment {
  padding: 24px 0 0;
  border-bottom: 1px solid #ebebeb;
  .userCommentBox {
    position: relative;
    .profileImg {
      background-image: url(https://www.spacecloud.kr/_nuxt/img/a430bdb.jpg);
      width: 80px;
      height: 80px;
      border-radius: 80px;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: 50%;
    }
    .commentBox {
      margin-left: 110px;
      .guestName {
        display: inline-block;
        margin-top: 3px;
        font-size: 18px;
        line-height: 21px;
      }
      .userComment {
        margin-top: 11px;
        line-height: 28px;
        color: #656565;
        font-size: 16px;
      }
      .dateTime {
        display: flex;
        width: 120px;
        justify-content: space-between;
        .date {
          margin: 13px 0 17px;
          font-size: 12px;
          color: #b2b2b2;
        }
        .time {
          margin: 13px 0 17px;
          font-size: 12px;
          color: #b2b2b2;
        }
      }
    }
  }
  .hostCommentBox {
    margin-left: 110px;
    .host {
      margin-top: 30px;
      font-size: 18px;
      color: #6d3afb;
    }
    .hostComment {
      margin-top: 11px;
      line-height: 28px;
      color: #656565;
    }
    .dateTime {
      display: flex;
      width: 120px;
      justify-content: space-between;
      .date {
        margin: 13px 0 17px;
        font-size: 12px;
        color: #b2b2b2;
      }
      .time {
        margin: 13px 0 17px;
        font-size: 12px;
        color: #b2b2b2;
      }
    }
  }
}
