.Tags {
  .tagsBox {
    .tag {
      display: inline-block;
      margin: 6px 6px 6px 0;
      padding: 0 15px;
      height: 29px;
      font-size: 14px;
      line-height: 29px;
      background-color: #fff;
      border-radius: 29px;
      border: 1px solid #e0e0e0;
      color: #656565;
    }
  }
}
